<div>
<form
  action="https://formspree.io/f/movjgjow"
  method="POST"
>
  <div>
  <label>
    お名前　　　　
    <input type="text" id="name" name="name" placeholder="山田太郎" required>
  </label>
  </div>

  <div>
  <label>
    メールアドレス
    <input type="email" name="email" placeholder="example@mail.com" required>
  </label>
  </div>

  <div>
  <label>
    メッセージ　　
    <textarea name="message" rows="5" placeholder="お問い合わせ内容を入力してください" required></textarea>
  </label>
  </div>

  <input type="hidden" name="_language" value="ja" />

  </div>
    <button type="submit">フォームを送信</button>
  </div>
</form>
</div>
