<h2>
  <span>『</span>
  <div class="word" tabindex="0"><span class="front">かりもの</span><span class="back">借り物</span></div>
  <span>』</span>
</h2>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">にっぽん</span><span class="back">日本</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひと</span><span class="back">人</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">いま</span><span class="back">今</span></div>
  <div class="word" tabindex="0"><span class="front">おもい</span><span class="back">重い</span></div>
  <div class="word" tabindex="0"><span class="front">おもい</span><span class="back">重い</span></div>
  <div class="word" tabindex="0"><span class="front">にもつ</span><span class="back">荷物</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">せおって</span><span class="back">背負って</span></div>
  <div class="word" tabindex="0"><span class="front">せかい</span><span class="back">世界</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひとびと</span><span class="back">人々</span></div>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">きょうそう</span><span class="back">競争</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">つづけて</span><span class="back">続けて</span></div>
  <span>いる。</span>
  <div class="word" tabindex="0"><span class="front">あせみどろ</span><span class="back">汗みどろ</span></div>
  <span>に</span>
  <span>なって</span>
  <span>いくら</span>
  <div class="word" tabindex="0"><span class="front">はしって</span><span class="back">走って</span></div>
  <span>も</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">にもつ</span><span class="back">荷物</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">じゃま</span><span class="back">邪魔</span></div>
  <span>に</span>
  <span>なって</span>
  <div class="word" tabindex="0"><span class="front">おもう</span><span class="back">思う</span></div>
  <span>よう</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">はしれない。</span><span class="back">走れない。</span></div>
</div>
<div class="paragraph">
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">にもつ</span><span class="back">荷物</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">おろせば</span><span class="back">下ろせば</span></div>
  <span>よい</span>
  <span>の</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">にっぽん</span><span class="back">日本</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひと</span><span class="back">人</span></div>
  <span>は</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">にもつ</span><span class="back">荷物</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">たから</span><span class="back">宝</span></div>
  <span>の</span>
  <span>よう</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">だいじ</span><span class="back">大事</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">おもって</span><span class="back">思って</span></div>
  <span>なかなか</span>
  <div class="word" tabindex="0"><span class="front">すてよう</span><span class="back">捨てよう</span></div>
  <span>と</span>
  <span>は</span>
  <span>しない。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">おもい</span><span class="back">重い</span></div>
  <div class="word" tabindex="0"><span class="front">にもつ</span><span class="back">荷物</span></div>
  <span>と</span>
  <span>いえば</span>
  <div class="word" tabindex="0"><span class="front">なに</span><span class="back">何</span></div>
  <span>か？</span>
</div>
<div class="paragraph">
  <span>それ</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">しな</span><span class="back">支那</span></div>
  <span>から</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かりもの！</span><span class="back">借り物！</span></div>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">お-たがい</span><span class="back">お互い</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">き</span><span class="back">気</span></div>
  <span>が</span>
  <span>つけば、</span>
  <div class="word" tabindex="0"><span class="front">かえして</span><span class="back">返して</span></div>
  <span>しまおう</span>
  <span>では</span>
  <span>ない</span>
  <span>か。</span>
</div>
