<h2>
  <span>『</span>
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひかり</span><span class="back">光</span></div>
  <span>』</span>
</h2>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひかり！</span><span class="back">光！</span></div>
  <div class="word" tabindex="0"><span class="front">なん</span><span class="back">何</span></div>
  <span>の</span>
  <span>ため</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">うまれ</span><span class="back">生まれ</span></div>
  <span>いでました</span>
  <span>か。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">たっとい</span><span class="back">尊い</span></div>
  <div class="word" tabindex="0"><span class="front">ひかり</span><span class="back">光</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">よ</span><span class="back">世</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">しめさん</span><span class="back">示さん</span></div>
  <span>が</span>
  <span>ため</span>
  <span>です。</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>に</span>
  <span>くらんで</span>
  <span>しまって</span>
  <span>いる</span>
  <div class="word" tabindex="0"><span class="front">こくみん</span><span class="back">国民</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">め</span><span class="back">目</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">カナモジ</span><span class="back">仮名文字</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">むけしめる</span><span class="back">向けしめる</span></div>
  <span>ため</span>
  <span>です。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">くに</span><span class="back">国</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">うまれ、</span><span class="back">生まれ、</span></div>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">こくみん</span><span class="back">国民</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">はぐくまれた</span><span class="back">育まれた</span></div>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>で</span>
  <span>あります。</span>
  <div class="word" tabindex="0"><span class="front">われら</span><span class="back">我ら</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">そせん</span><span class="back">祖先</span></div>
  <span>から</span>
  <div class="word" tabindex="0"><span class="front">さずけられた</span><span class="back">授けられた</span></div>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">たっとい</span><span class="back">尊い</span></div>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>の</span>
  <span>ある</span>
  <span>こと</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">わすれて</span><span class="back">忘れて</span></div>
  <span>は</span>
  <span>なりませぬ。</span>
  <div class="word" tabindex="0"><span class="front">カナモジ</span><span class="back">仮名文字</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">せかい</span><span class="back">世界</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">ほこる</span><span class="back">誇る</span></div>
  <span>べき</span>
  <div class="word" tabindex="0"><span class="front">りっぱ</span><span class="back">立派</span></div>
  <span>な</span>
  <span>もの</span>
  <span>です。</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">りっぱさ</span><span class="back">立派さ</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">そと</span><span class="back">外</span></div>
  <span>から</span>
  <div class="word" tabindex="0"><span class="front">ぬりたてた</span><span class="back">塗り立てた</span></div>
  <div class="word" tabindex="0"><span class="front">いろどり</span><span class="back">彩り</span></div>
  <span>で</span>
  <span>ない、</span>
  <div class="word" tabindex="0"><span class="front">うち</span><span class="back">内</span></div>
  <span>から</span>
  <div class="word" tabindex="0"><span class="front">はっする</span><span class="back">発する</span></div>
  <div class="word" tabindex="0"><span class="front">ひかり</span><span class="back">光</span></div>
  <span>で</span>
  <span>あります。</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">じせい</span><span class="back">時勢</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">おうじて、</span><span class="back">応じて、</span></div>
  <div class="word" tabindex="0"><span class="front">しょたい</span><span class="back">書体</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">かいりょう</span><span class="back">改良</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">くわえ、</span><span class="back">加え、</span></div>
  <div class="word" tabindex="0"><span class="front">きさい-ほう</span><span class="back">記載法</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">くふう</span><span class="back">工夫</span></div>
  <span>する</span>
  <span>ならば、</span>
  <div class="word" tabindex="0"><span class="front">いっそう</span><span class="back">一層</span></div>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">かち</span><span class="back">価値</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ます</span><span class="back">増す</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">そうい</span><span class="back">相違</span></div>
  <span>ありません。</span>
  <div class="word" tabindex="0"><span class="front">こくみん</span><span class="back">国民</span></div>
  <span>が</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">てん</span><span class="back">点</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">むかって</span><span class="back">向かって</span></div>
  <div class="word" tabindex="0"><span class="front">こえず</span><span class="back">超えず</span></div>
  <div class="word" tabindex="0"><span class="front">め</span><span class="back">目</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">そそぐ</span><span class="back">注ぐ</span></div>
  <span>ならば、</span>
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">しいたげられた</span><span class="back">虐げられた</span></div>
  <div class="word" tabindex="0"><span class="front">さかい</span><span class="back">境</span></div>
  <span>から</span>
  <span>よみがえって、</span>
  <span>いよいよ</span>
  <div class="word" tabindex="0"><span class="front">ひかり</span><span class="back">光</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">まし、</span><span class="back">増し、</span></div>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">みんぞく</span><span class="back">民族</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">はっせい</span><span class="back">発生</span></div>
  <span>した</span>
  <div class="word" tabindex="0"><span class="front">ゆうが</span><span class="back">優雅</span></div>
  <span>な</span>
  <div class="word" tabindex="0"><span class="front">やまとことば</span><span class="back">大和言葉</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">かがやかせ、</span><span class="back">輝かせ、</span></div>
  <div class="word" tabindex="0"><span class="front">しゃかい-じつむ</span><span class="back">社会実務</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">のうりつ</span><span class="back">能率</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">たかめ、</span><span class="back">高め、</span></div>
  <div class="word" tabindex="0"><span class="front">いっそう</span><span class="back">一層</span></div>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんか</span><span class="back">文化</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">すすめる</span><span class="back">進める</span></div>
  <span>こと</span>
  <span>で</span>
  <span>ありましょう。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひかり！</span><span class="back">光！</span></div>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">しめい</span><span class="back">使命</span></div>
  <span>は</span>
  <span>なかなか</span>
  <div class="word" tabindex="0"><span class="front">おもい、</span><span class="back">重い、</span></div>
  <span>どうか</span>
  <div class="word" tabindex="0"><span class="front">かくい</span><span class="back">各位</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ご-えんじょ</span><span class="back">ご援助</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あおぎます。</span><span class="back">仰ぎます。</span></div>
  <div class="word" tabindex="0"><span class="front">ご-あいご</span><span class="back">ご愛護</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">こいます。</span><span class="back">請います。</span></div>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんか</span><span class="back">文化</span></div>
  <span>の</span>
  <span>ため</span>
  <span>に、</span>
  <div class="word" tabindex="0"><span class="front">こくうん-はってん</span><span class="back">国運発展</span></div>
  <span>の</span>
  <span>ため</span>
  <span>に。</span>
</div>
