<h2>
  <span>『</span>
  <div class="word" tabindex="0"><span class="front">かいりょう</span><span class="back">改良</span></div>
  <div class="word" tabindex="0"><span class="front">カナモジ</span><span class="back">仮名文字</span></div>
  <span>を</span>
  <span>まず</span>
  <div class="word" tabindex="0"><span class="front">じどう</span><span class="back">児童</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">うえつけて</span><span class="back">植えつけて</span></div>
  <span>』</span>
</h2>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">こくじ</span><span class="back">国字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かいりょう</span><span class="back">改良</span></div>
  <span>が</span>
  <span>できる</span>
  <span>か、</span>
  <span>どう</span>
  <span>か。</span>
  <div class="word" tabindex="0"><span class="front">ぎろん</span><span class="back">議論</span></div>
  <span>して</span>
  <span>いる</span>
  <span>だけ</span>
  <span>で</span>
  <span>は、</span>
  <span>いつ</span>
  <span>に</span>
  <span>なって</span>
  <span>も</span>
  <div class="word" tabindex="0"><span class="front">かいけつ</span><span class="back">解決</span></div>
  <span>が</span>
  <span>つきませぬ。</span>
  <div class="word" tabindex="0"><span class="front">いくせん-べん、</span><span class="back">幾千遍、</span></div>
  <div class="word" tabindex="0"><span class="front">いくまん-べん</span><span class="back">幾万遍</span></div>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">よみなれた</span><span class="back">読み慣れた</span></div>
  <div class="word" tabindex="0"><span class="front">かんじ-まじり</span><span class="back">漢字交じり</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ぶん</span><span class="back">文</span></div>
  <span>と、</span>
  <span>ただ</span>
  <div class="word" tabindex="0"><span class="front">いっ-かい</span><span class="back">一回</span></div>
  <span>また</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">すう-かい</span><span class="back">数回</span></div>
  <span>くらい</span>
  <span>しか</span>
  <div class="word" tabindex="0"><span class="front">め</span><span class="back">目</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">ふれた</span><span class="back">触れた</span></div>
  <span>こと</span>
  <span>の</span>
  <span>ない</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">じたい</span><span class="back">字体</span></div>
  <span>と</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ひかく</span><span class="back">比較</span></div>
  <span>して、</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">ぜひ-ゆうれつ</span><span class="back">是非優劣</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">はんけつ</span><span class="back">判決</span></div>
  <span>される</span>
  <span>こと</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">かこく</span><span class="back">苛酷</span></div>
  <span>です。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">ぎろん</span><span class="back">議論</span></div>
  <span>より</span>
  <span>も、</span>
  <span>むしろ</span>
  <span>これら</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かいりょう-あん</span><span class="back">改良案</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">じっち</span><span class="back">実地</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">うえつけて</span><span class="back">植えつけて</span></div>
  <span>みて、</span>
  <span>これ</span>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">こくみん</span><span class="back">国民</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">あいだ</span><span class="back">間</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">せいいく</span><span class="back">生育</span></div>
  <span>する</span>
  <span>か</span>
  <span>いな</span>
  <span>か</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ためす</span><span class="back">試す</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">もんだい-かいけつ</span><span class="back">問題解決</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ちかみち</span><span class="back">近道</span></div>
  <span>です。</span>
  <div class="word" tabindex="0"><span class="front">ほん-きょうかい</span><span class="back">本協会</span></div>
  <span>は</span>
  <span>「アヒリ</span>
  <span>ノ</span>
  <span>シリフリ」</span>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">だいした</span><span class="back">題した</span></div>
  <div class="word" tabindex="0"><span class="front">どうよう</span><span class="back">童謡</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">えほん</span><span class="back">絵本</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">はっこう</span><span class="back">発行</span></div>
  <span>し、</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">えほん</span><span class="back">絵本</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">したしませ</span><span class="back">親しませ</span></div>
  <span>ながら、</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">かいりょう-あん</span><span class="back">改良案</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">なえ</span><span class="back">苗</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">じどう</span><span class="back">児童</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">うえつけて</span><span class="back">植えつけて</span></div>
  <span>みよう</span>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">くわだてた</span><span class="back">企てた</span></div>
  <span>の</span>
  <span>で</span>
  <span>あります。</span>
</div>
