<h2>
  <span>『</span>
  <div class="word" tabindex="0"><span class="front">やたて</span><span class="back">矢立</span></div>
  <span>と</span>
  <span>タイプライター</span>
  <span>』</span>
</h2>
<div class="paragraph">
  <span>ある</span>
  <div class="word" tabindex="0"><span class="front">ひと</span><span class="back">人</span></div>
  <span>から</span>
  <span>こんな</span>
  <div class="word" tabindex="0"><span class="front">はなし</span><span class="back">話</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">きいた。</span><span class="back">聞いた。</span></div>
  <span>それ</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">きしゃ-ちゅう</span><span class="back">汽車中</span></div>
  <span>で</span>
  <div class="word" tabindex="0"><span class="front">もくげき</span><span class="back">目撃</span></div>
  <span>した</span>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">じつわ</span><span class="back">実話</span></div>
  <span>で</span>
  <span>ある。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">のりあい</span><span class="back">乗り合い</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">りょかく</span><span class="back">旅客</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひとり</span><span class="back">一人</span></div>
  <span>が、</span>
  <div class="word" tabindex="0"><span class="front">こし</span><span class="back">腰</span></div>
  <span>なる</span>
  <div class="word" tabindex="0"><span class="front">やたて</span><span class="back">矢立</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">とりだして</span><span class="back">取り出して</span></div>
  <div class="word" tabindex="0"><span class="front">なにごと</span><span class="back">何事</span></div>
  <span>か</span>
  <div class="word" tabindex="0"><span class="front">かきはじめた。</span><span class="back">書き始めた。</span></div>
  <div class="word" tabindex="0"><span class="front">いくど</span><span class="back">幾度</span></div>
  <span>も</span>
  <div class="word" tabindex="0"><span class="front">ふで</span><span class="back">筆</span></div>
  <span>を</span>
  <span>なめ</span>
  <span>ながら</span>
  <div class="word" tabindex="0"><span class="front">きしゃ</span><span class="back">記者</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">どうよう</span><span class="back">動揺</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">かみ</span><span class="back">紙</span></div>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">ふで</span><span class="back">筆</span></div>
  <span>と</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ふるわせて</span><span class="back">震わせて</span></div>
  <div class="word" tabindex="0"><span class="front">いか</span><span class="back">如何</span></div>
  <span>に</span>
  <span>も</span>
  <div class="word" tabindex="0"><span class="front">かきにくそう</span><span class="back">書きにくそう</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">かいて</span><span class="back">書いて</span></div>
  <span>いる。</span>
  <div class="word" tabindex="0"><span class="front">きしゃ</span><span class="back">汽車</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">いくマイル</span><span class="back">幾マイル</span></div>
  <span>か</span>
  <div class="word" tabindex="0"><span class="front">はしる</span><span class="back">走る</span></div>
  <span>が、</span>
  <div class="word" tabindex="0"><span class="front">ふで</span><span class="back">筆</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">ちち</span><span class="back">遅遅</span></div>
  <span>と</span>
  <span>して</span>
  <div class="word" tabindex="0"><span class="front">すすまない。</span><span class="back">進まない。</span></div>
</div>
<div class="paragraph">
  <span>その</span>
  <span>とき</span>
  <div class="word" tabindex="0"><span class="front">いっしょ</span><span class="back">一緒</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">のって</span><span class="back">乗って</span></div>
  <span>いた</span>
  <div class="word" tabindex="0"><span class="front">せいよう-じん</span><span class="back">西洋人</span></div>
  <span>が</span>
  <span>ふと、</span>
  <span>かばん</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">なか</span><span class="back">中</span></div>
  <span>から</span>
  <span>タイプライター</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">とりだして</span><span class="back">取り出して</span></div>
  <span>パチパチ</span>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">うちだした。</span><span class="back">打ち出した。</span></div>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">はやい</span><span class="back">早い</span></div>
  <span>こと</span>
  <div class="word" tabindex="0"><span class="front">みるま</span><span class="back">見る間</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">きれい</span><span class="back">綺麗</span></div>
  <span>な</span>
  <span>ハッキリ</span>
  <span>した</span>
  <span>２ページ</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">しょもつ</span><span class="back">書物</span></div>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">ひかえ</span><span class="back">控え</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">できあがった。</span><span class="back">出来上がった。</span></div>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">おなじ</span><span class="back">同じ</span></div>
  <div class="word" tabindex="0"><span class="front">しゃしつ-ない</span><span class="back">車室内</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">おこった</span><span class="back">起こった</span></div>
  <span>この</span>
  <span>２つ</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">できごと</span><span class="back">出来事</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">さ</span><span class="back">差</span></div>
  <span>の</span>
  <span>あまり</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">だい</span><span class="back">大</span></div>
  <span>で、</span>
  <span>とても</span>
  <div class="word" tabindex="0"><span class="front">おなじ</span><span class="back">同じ</span></div>
  <div class="word" tabindex="0"><span class="front">じだい</span><span class="back">時代</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">そんざい</span><span class="back">存在</span></div>
  <div class="word" tabindex="0"><span class="front">しえる</span><span class="back">し得る</span></div>
  <span>こと</span>
  <span>と</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">おもえなかった</span><span class="back">思えなかった</span></div>
  <span>と</span>
  <span>いう</span>
  <span>こと</span>
  <span>で</span>
  <span>ある。</span>
</div>
