<h2>
  <span>『</span>
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">はなし</span><span class="back">話</span></div>
  <span>（１）』</span>
</h2>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">にっぽん</span><span class="back">日本</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">カタカナ</span><span class="back">片仮名</span></div>
  <span>が</span>
  <span>こんにち</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かたち</span><span class="back">形</span></div>
  <span>に</span>
  <span>まで、</span>
  <div class="word" tabindex="0"><span class="front">はったつ-しんぽ</span><span class="back">発達進歩</span></div>
  <span>して</span>
  <span>きた</span>
  <div class="word" tabindex="0"><span class="front">けいろ</span><span class="back">経路</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">かんがえて</span><span class="back">考えて</span></div>
  <span>みます</span>
  <span>と、</span>
  <div class="word" tabindex="0"><span class="front">ローマじ</span><span class="back">ローマ字</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">いま</span><span class="back">今</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かたち</span><span class="back">形</span></div>
  <span>に</span>
  <span>なって</span>
  <span>きた</span>
  <div class="word" tabindex="0"><span class="front">じゅんじょ</span><span class="back">順序</span></div>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">まったく</span><span class="back">全く</span></div>
  <div class="word" tabindex="0"><span class="front">どういつ</span><span class="back">同一</span></div>
  <span>で</span>
  <span>ある</span>
  <span>と</span>
  <span>いう</span>
  <span>こと</span>
  <span>は、</span>
  <div class="word" tabindex="0"><span class="front">すこぶる</span><span class="back">頗る</span></div>
  <div class="word" tabindex="0"><span class="front">きょうみ</span><span class="back">興味</span></div>
  <span>の</span>
  <span>ある</span>
  <span>こと</span>
  <span>で</span>
  <span>あります。</span>
  <div class="word" tabindex="0"><span class="front">とうざい</span><span class="back">東西</span></div>
  <div class="word" tabindex="0"><span class="front">とち</span><span class="back">土地</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">こと</span><span class="back">異</span></div>
  <span>に</span>
  <span>し、</span>
  <div class="word" tabindex="0"><span class="front">れきし</span><span class="back">歴史</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">こと</span><span class="back">異</span></div>
  <span>に</span>
  <span>して</span>
  <span>いる</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">かかわらず、</span><span class="back">関らず、</span></div>
  <div class="word" tabindex="0"><span class="front">おなじ</span><span class="back">同じ</span></div>
  <span>よう</span>
  <span>な</span>
  <div class="word" tabindex="0"><span class="front">みちじゅん</span><span class="back">道順</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">へて</span><span class="back">経て</span></div>
  <div class="word" tabindex="0"><span class="front">へんか</span><span class="back">変化</span></div>
  <span>して</span>
  <span>きた</span>
  <span>と</span>
  <span>いう</span>
  <span>こと</span>
  <span>は、</span>
  <div class="word" tabindex="0"><span class="front">じつ</span><span class="back">実</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">ふしぎ</span><span class="back">不思議</span></div>
  <span>な</span>
  <span>こと</span>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">カタカナ</span><span class="back">片仮名</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">いち-ぶぶん</span><span class="back">一部分</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">とって</span><span class="back">取って</span></div>
  <span>できた</span>
  <div class="word" tabindex="0"><span class="front">きわめて</span><span class="back">極めて</span></div>
  <div class="word" tabindex="0"><span class="front">かんたん</span><span class="back">簡単</span></div>
  <span>かつ</span>
  <div class="word" tabindex="0"><span class="front">めいりょう</span><span class="back">明瞭</span></div>
  <span>な</span>
  <div class="word" tabindex="0"><span class="front">おんぷ-もじ</span><span class="back">音符文字</span></div>
  <span>で</span>
  <span>あります。</span>
  <span>そして</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">もと</span><span class="back">元</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">さかのぼって</span><span class="back">遡って</span></div>
  <span>みる</span>
  <span>と、</span>
  <div class="word" tabindex="0"><span class="front">え</span><span class="back">絵</span></div>
  <span>から</span>
  <div class="word" tabindex="0"><span class="front">でて</span><span class="back">出て</span></div>
  <span>きて</span>
  <span>おります。</span>
  <span>しかるに</span>
  <div class="word" tabindex="0"><span class="front">ローマじ</span><span class="back">ローマ字</span></div>
  <span>も</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">もと</span><span class="back">元</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">さかのぼる</span><span class="back">遡る</span></div>
  <span>と、</span>
  <div class="word" tabindex="0"><span class="front">エジプトもじ</span><span class="back">エジプト文字</span></div>
  <span>と</span>
  <span>なります。</span>
  <div class="word" tabindex="0"><span class="front">エジプトもじ</span><span class="back">エジプト文字</span></div>
  <span>も</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">あたらしい</span><span class="back">新しい</span></div>
  <span>もの</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">おんぷ-もじ</span><span class="back">音符文字</span></div>
  <span>と</span>
  <span>なって</span>
  <span>おります</span>
  <span>が、</span>
  <div class="word" tabindex="0"><span class="front">さら</span><span class="back">更</span></div>
  <span>に</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">きげん</span><span class="back">起源</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">たずねる</span><span class="back">尋ねる</span></div>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">えもじ</span><span class="back">絵文字</span></div>
  <span>で</span>
  <span>あります。</span>
  <div class="word" tabindex="0"><span class="front">こだいエジプト</span><span class="back">古代エジプト</span></div>
  <span>に</span>
  <span>おいて</span>
  <div class="word" tabindex="0"><span class="front">とり</span><span class="back">鳥</span></div>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>は</span>
  <span>𓅬</span>
  <span>で、</span>
  <div class="word" tabindex="0"><span class="front">さかな</span><span class="back">魚</span></div>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>は</span>
  <span>𓆟</span>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <span>また</span>
  <span>𓀒</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">たおす</span><span class="back">倒す</span></div>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>で、</span>
  <span>𓇲</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">てん</span><span class="back">天</span></div>
  <span>より</span>
  <div class="word" tabindex="0"><span class="front">みず</span><span class="back">水</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">おちる</span><span class="back">落ちる</span></div>
  <div class="word" tabindex="0"><span class="front">さま</span><span class="back">様</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">かいた</span><span class="back">書いた</span></div>
  <span>もの</span>
  <span>で、</span>
  <div class="word" tabindex="0"><span class="front">あめ</span><span class="back">雨</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あらわす</span><span class="back">表す</span></div>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">すなわち</span><span class="back">即ち</span></div>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">じだい</span><span class="back">時代</span></div>
  <span>に</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">いち-じ</span><span class="back">一字</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">いち-ご</span><span class="back">一語</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あらわして</span><span class="back">表して</span></div>
  <span>いた</span>
  <span>の</span>
  <span>で</span>
  <span>あります。</span>
  <span>しかし</span>
  <span>これ</span>
  <span>だけ</span>
  <span>で</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">じゅうぶん</span><span class="back">十分</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">よう</span><span class="back">用</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">たせない</span><span class="back">足せない</span></div>
  <span>のみならず、</span>
  <div class="word" tabindex="0"><span class="front">え</span><span class="back">絵</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">かく</span><span class="back">書く</span></div>
  <span>こと</span>
  <span>の</span>
  <span>できない</span>
  <div class="word" tabindex="0"><span class="front">ことば</span><span class="back">言葉</span></div>
  <span>も</span>
  <span>ある</span>
  <span>から、</span>
  <div class="word" tabindex="0"><span class="front">いみ</span><span class="back">意味</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あらわさないで、</span><span class="back">表さないで、</span></div>
  <span>ただ</span>
  <div class="word" tabindex="0"><span class="front">おと</span><span class="back">音</span></div>
  <span>だけ</span>
  <div class="word" tabindex="0"><span class="front">あらわす</span><span class="back">表す</span></div>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">ひつよう</span><span class="back">必要</span></div>
  <span>と</span>
  <span>なって</span>
  <span>きます。</span>
  <span>そこ</span>
  <span>で</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">えもじ</span><span class="back">絵文字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ぜんぶ</span><span class="back">全部</span></div>
  <span>か、</span>
  <div class="word" tabindex="0"><span class="front">いちぶ</span><span class="back">一部</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">とって</span><span class="back">取って</span></div>
  <span>ある</span>
  <div class="word" tabindex="0"><span class="front">おと</span><span class="back">音</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>と</span>
  <span>しました。</span>
  <div class="word" tabindex="0"><span class="front">たとえば</span><span class="back">例えば</span></div>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">くに</span><span class="back">国</span></div>
  <span>で</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">け</span><span class="back">毛</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">いちぶ</span><span class="back">一部</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">とって</span><span class="back">取って</span></div>
  <span><b>モ</b></span>
  <span>と</span>
  <span>した</span>
  <span>とき</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">もうはつ</span><span class="back">毛髪</span></div>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">いみ</span><span class="back">意味</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">ぜんぜん</span><span class="back">全然</span></div>
  <div class="word" tabindex="0"><span class="front">きえうせて、</span><span class="back">消え失せて、</span></div>
  <span>ただ</span>
  <span><b>モ</b></span>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">はつおん</span><span class="back">発音</span></div>
  <span>のみ</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あらわす</span><span class="back">表す</span></div>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>と</span>
  <span>なりました。</span>
</div>
<div class="paragraph">
  <span>それ</span>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">どうよう</span><span class="back">同様</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">エジプトもじ</span><span class="back">エジプト文字</span></div>
  <span>で</span>
  <span>は</span>
  <span>𓅓</span>
  <span>は</span>
  <span><b>ミミズク</b></span>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>で、</span>
  <span>Mulag</span>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">はつおん</span><span class="back">発音</span></div>
  <span>して</span>
  <span>いました</span>
  <span>から</span>
  <span><b>ム</b></span>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">おと</span><span class="back">音</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あらわす</span><span class="back">表す</span></div>
  <span>ため</span>
  <span>に、</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">あたま</span><span class="back">頭</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かたち</span><span class="back">形</span></div>
  <span>だけ</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">かく</span><span class="back">書く</span></div>
  <span>よう</span>
  <span>に</span>
  <span>しました。</span>
  <span>これ</span>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">げんこん</span><span class="back">現今</span></div>
  <span>の</span>
  <span>M</span>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>が</span>
  <span>できた</span>
  <div class="word" tabindex="0"><span class="front">きげん</span><span class="back">起源</span></div>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <span>また</span>
  <div class="word" tabindex="0"><span class="front">みず</span><span class="back">水</span></div>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">じ</span><span class="back">字</span></div>
  <span>は</span>
  <span>𓈗</span>
  <span>で、</span>
  <span>これ</span>
  <span>は</span>
  <span>Na</span>
  <span>と</span>
  <div class="word" tabindex="0"><span class="front">はつおん</span><span class="back">発音</span></div>
  <span>して</span>
  <span>いました</span>
  <span>が、</span>
  <span><b>ヌ</b></span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">おと</span><span class="back">音</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">あらわす</span><span class="back">表す</span></div>
  <span>ため</span>
  <span>に、</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">えもじ</span><span class="back">絵文字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">なみ</span><span class="back">波</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">いちぶ</span><span class="back">一部</span></div>
  <span>を</span>
  <span>のみ</span>
  <div class="word" tabindex="0"><span class="front">かく</span><span class="back">書く</span></div>
  <span>こと</span>
  <span>に</span>
  <span>しました。</span>
  <span>これ</span>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">いま</span><span class="back">今</span></div>
  <span>の</span>
  <span>N</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">じ</span><span class="back">字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">きげん</span><span class="back">起源</span></div>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <span>（</span>
  <div class="word" tabindex="0"><span class="front">いか</span><span class="back">以下</span></div>
  <div class="word" tabindex="0"><span class="front">じごう</span><span class="back">次号</span></div>
  <span>）</span>
</div>
