<h2>
  <span>『</span>
  <div class="word" tabindex="0"><span class="front">はっかん</span><span class="back">発刊</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">あたりて</span><span class="back">当たりて</span></div>
  <span>』（</span>
  <div class="word" tabindex="0"><span class="front">やました・よしたろう</span><span class="back">山下芳太郎</span></div>
  <span>）</span>
</h2>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">くに</span><span class="back">国</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">いしん-いらい、</span><span class="back">維新以来、</span></div>
  <div class="word" tabindex="0"><span class="front">こくうん-りゅうりゅう</span><span class="back">国運隆々</span></div>
  <span>と</span>
  <span>して</span>
  <div class="word" tabindex="0"><span class="front">すすみ、</span><span class="back">進み、</span></div>
  <div class="word" tabindex="0"><span class="front">さいわい</span><span class="back">幸い</span></div>
  <span>に</span>
  <span>も</span>
  <div class="word" tabindex="0"><span class="front">いま</span><span class="back">今</span></div>
  <span>や</span>
  <div class="word" tabindex="0"><span class="front">せかい</span><span class="back">世界</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんめい</span><span class="back">文明</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">せんしん-こく</span><span class="back">先進国</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">なか</span><span class="back">中</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">くわわり</span><span class="back">加わり</span></div>
  <div class="word" tabindex="0"><span class="front">えました</span><span class="back">得ました</span></div>
  <span>が、</span>
  <span>これ</span>
  <span>だけ</span>
  <span>で</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">まんぞく</span><span class="back">満足</span></div>
  <span>して</span>
  <span>いる</span>
  <span>こと</span>
  <span>は</span>
  <span>できませぬ。</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">うえ</span><span class="back">上</span></div>
  <span>さら</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">いち</span><span class="back">位置</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">すすめて</span><span class="back">進めて</span></div>
  <span>いよいよ</span>
  <div class="word" tabindex="0"><span class="front">せかい</span><span class="back">世界</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんめい</span><span class="back">文明</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">せんとう</span><span class="back">先頭</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">たって</span><span class="back">立って</span></div>
  <div class="word" tabindex="0"><span class="front">しょこく</span><span class="back">諸国</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">しどう</span><span class="back">指導</span></div>
  <span>する</span>
  <span>ほど</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">だい-ほうふ</span><span class="back">大抱負</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">ひつよう</span><span class="back">必要</span></div>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <span>しかし</span>
  <span>これ</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">じつげん</span><span class="back">実現</span></div>
  <span>せしめる</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">ぜつだい</span><span class="back">絶大</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">どりょく</span><span class="back">努力</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ようします</span><span class="back">要します</span></div>
  <span>こと</span>
  <span>は</span>
  <span>あたかも</span>
  <span>アルプス</span>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ぜっちょう</span><span class="back">絶頂</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">よじのぼる</span><span class="back">よじ登る</span></div>
  <span>が</span>
  <span>ごとき</span>
  <span>もの</span>
  <span>で、</span>
  <div class="word" tabindex="0"><span class="front">こころ</span><span class="back">心</span></div>
  <span>や</span>
  <div class="word" tabindex="0"><span class="front">しんたい</span><span class="back">身体</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ねりかたむる</span><span class="back">練り固むる</span></div>
  <span>のみならず、</span>
  <span>なるべく</span>
  <div class="word" tabindex="0"><span class="front">よそおい</span><span class="back">装い</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">かるく</span><span class="back">軽く</span></div>
  <span>して</span>
  <div class="word" tabindex="0"><span class="front">すすまねば</span><span class="back">進まねば</span></div>
  <span>なりませぬ。</span>
  <span>しかるに</span>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">こくみん</span><span class="back">国民</span></div>
  <span>は</span>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">ぶんか</span><span class="back">文化</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">みね</span><span class="back">峰</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">よじのぼる</span><span class="back">よじ登る</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">じつ</span><span class="back">実</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">せいよう-しょこく</span><span class="back">西洋諸国</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひとびと</span><span class="back">人々</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">しらない</span><span class="back">知らない</span></div>
  <div class="word" tabindex="0"><span class="front">おもに</span><span class="back">重荷</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ひとつ</span><span class="back">一つ</span></div>
  <div class="word" tabindex="0"><span class="front">よぶん</span><span class="back">余分</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">せおって</span><span class="back">背負って</span></div>
  <span>います。</span>
  <span>それ</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">なんじゅう</span><span class="back">難渋</span></div>
  <span>な</span>
  <div class="word" tabindex="0"><span class="front">こくじ</span><span class="back">国字</span></div>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">がいこく</span><span class="back">外国</span></div>
  <span>で</span>
  <span>は</span>
  <span>わずか</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">２６じ</span><span class="back">２６字</span></div>
  <span>で</span>
  <div class="word" tabindex="0"><span class="front">よう</span><span class="back">用</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">たして</span><span class="back">足して</span></div>
  <span>いる</span>
  <span>の</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">にっぽんじん</span><span class="back">日本人</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">しょうしょう</span><span class="back">少々</span></div>
  <span>も</span>
  <div class="word" tabindex="0"><span class="front">すうせん</span><span class="back">数千</span></div>
  <span>の</span>
  <span>むつかしい</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">おぼえ、</span><span class="back">覚え、</span></div>
  <span>かつ</span>
  <span>それ</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">つかわねば</span><span class="back">使わねば</span></div>
  <span>なりませぬ。</span>
  <span>これ</span>
  <span>が</span>
  <span>ため</span>
  <div class="word" tabindex="0"><span class="front">にっぽん</span><span class="back">日本</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">こども</span><span class="back">子供</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">がいこく</span><span class="back">外国</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">４ねん</span><span class="back">４年</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">たいして</span><span class="back">対して</span></div>
  <span>およそ</span>
  <div class="word" tabindex="0"><span class="front">６ねん</span><span class="back">６年</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">がくしゅう</span><span class="back">学習</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ようし、</span><span class="back">要し、</span></div>
  <div class="word" tabindex="0"><span class="front">しゃかい</span><span class="back">社会</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">じつむ</span><span class="back">実務</span></div>
  <span>に</span>
  <span>おいて</span>
  <span>は、</span>
  <div class="word" tabindex="0"><span class="front">がいこく</span><span class="back">外国</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひとり</span><span class="back">一人</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">たいし</span><span class="back">対し</span></div>
  <div class="word" tabindex="0"><span class="front">に・さん-にん</span><span class="back">二三人</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひとで</span><span class="back">人手</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ようし、</span><span class="back">要し、</span></div>
  <div class="word" tabindex="0"><span class="front">かれ</span><span class="back">彼</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">いち-じかん</span><span class="back">一時間</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">なしえる</span><span class="back">なし得る</span></div>
  <div class="word" tabindex="0"><span class="front">しごと</span><span class="back">仕事</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">われ</span><span class="back">我</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">いちにち</span><span class="back">一日</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ようする</span><span class="back">要する</span></div>
  <span>と</span>
  <span>いう</span>
  <div class="word" tabindex="0"><span class="front">おおなる</span><span class="back">大なる</span></div>
  <div class="word" tabindex="0"><span class="front">じゃくてん</span><span class="back">弱点</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">もって</span><span class="back">持って</span></div>
  <span>おる</span>
  <span>の</span>
  <span>で</span>
  <span>あります。</span>
  <div class="word" tabindex="0"><span class="front">われわれ</span><span class="back">我々</span></div>
  <span>が</span>
  <div class="word" tabindex="0"><span class="front">いちにち</span><span class="back">一日</span></div>
  <span>も</span>
  <div class="word" tabindex="0"><span class="front">はやく</span><span class="back">早く</span></div>
  <span>この</span>
  <div class="word" tabindex="0"><span class="front">おもに</span><span class="back">重荷</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">なげすてざる</span><span class="back">投げ捨てざる</span></div>
  <div class="word" tabindex="0"><span class="front">かぎり、</span><span class="back">限り、</span></div>
  <div class="word" tabindex="0"><span class="front">われわれ</span><span class="back">我々</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">しそん</span><span class="back">子孫</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">とうてい</span><span class="back">到底</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんか</span><span class="back">文化</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">きょうそう</span><span class="back">競争</span></div>
  <span>に</span>
  <span>おいて</span>
  <div class="word" tabindex="0"><span class="front">がいこく</span><span class="back">外国</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">かちえる</span><span class="back">勝ち得る</span></div>
  <div class="word" tabindex="0"><span class="front">みこみ</span><span class="back">見込み</span></div>
  <span>が</span>
  <span>ありませぬ。</span>
</div>
<div class="paragraph">
  <span>しかるに</span>
  <span>ここ</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">さいわい</span><span class="back">幸い</span></div>
  <span>な</span>
  <span>こと</span>
  <span>に</span>
  <span>は、</span>
  <div class="word" tabindex="0"><span class="front">われら</span><span class="back">我ら</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">そせん</span><span class="back">祖先</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">いっせん-すうひゃく-ねん</span><span class="back">一千数百年</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ついやして</span><span class="back">費やして</span></div>
  <div class="word" tabindex="0"><span class="front">みがきあげた</span><span class="back">磨き上げた</span></div>
  <div class="word" tabindex="0"><span class="front">せかい-むひ</span><span class="back">世界無比</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">りっぱ</span><span class="back">立派</span></div>
  <span>な</span>
  <div class="word" tabindex="0"><span class="front">カタカナ</span><span class="back">片仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">もじ</span><span class="back">文字</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">われら</span><span class="back">我ら</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">のこして</span><span class="back">遺して</span></div>
  <div class="word" tabindex="0"><span class="front">さずけて</span><span class="back">授けて</span></div>
  <span>おります。</span>
  <span>これ</span>
  <span>こそ</span>
  <div class="word" tabindex="0"><span class="front">じつ</span><span class="back">実</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">われら</span><span class="back">我ら</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">すくい</span><span class="back">救い</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ふね</span><span class="back">船</span></div>
  <span>で、</span>
  <div class="word" tabindex="0"><span class="front">われら</span><span class="back">我ら</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かつろ</span><span class="back">活路</span></div>
  <span>は</span>
  <span>これ</span>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">ほか</span><span class="back">外</span></div>
  <span>に</span>
  <span>して</span>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">ほか</span><span class="back">他</span></div>
  <span>に</span>
  <span>は</span>
  <span>ありえませぬ。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">カナ</span><span class="back">仮名</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ひかり</span><span class="back">光</span></div>
  <span>は</span>
  <div class="word" tabindex="0"><span class="front">みやすい</span><span class="back">見やすい</span></div>
  <div class="word" tabindex="0"><span class="front">みち</span><span class="back">道</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">つたえて</span><span class="back">伝えて</span></div>
  <div class="word" tabindex="0"><span class="front">しょうらい</span><span class="back">将来</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">こくみん</span><span class="back">国民</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かた</span><span class="back">肩</span></div>
  <span>より、</span>
  <div class="word" tabindex="0"><span class="front">かんじ</span><span class="back">漢字</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">おもに</span><span class="back">重荷</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">のぞかん</span><span class="back">除かん</span></div>
  <span>が</span>
  <span>ため</span>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">うまれた</span><span class="back">生まれた</span></div>
  <span>の</span>
  <span>で</span>
  <span>あります。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">わたし</span><span class="back">私</span></div>
  <span>は</span>
  <span>その</span>
  <div class="word" tabindex="0"><span class="front">はっこう</span><span class="back">発行</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">あたり、</span><span class="back">当たり、</span></div>
  <div class="word" tabindex="0"><span class="front">かいびゃく-いらい</span><span class="back">開闢以来</span></div>
  <div class="word" tabindex="0"><span class="front">わが</span><span class="back">我が</span></div>
  <div class="word" tabindex="0"><span class="front">くに</span><span class="back">国</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">まもり</span><span class="back">守り</span></div>
  <span>たまえる</span>
  <div class="word" tabindex="0"><span class="front">かみ</span><span class="back">神</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">み-たま</span><span class="back">御霊</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">まえ</span><span class="back">前</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">いのり</span><span class="back">祈り</span></div>
  <span>つつ、</span>
  <div class="word" tabindex="0"><span class="front">どくしゃ-しょくん</span><span class="back">読者諸君</span></div>
  <span>に</span>
  <span>まみえます。</span>
</div>
<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">ご-どうかん</span><span class="back">ご同感</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">かた</span><span class="back">方</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">ご-えんじょ</span><span class="back">ご援助</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">せつ</span><span class="back">切</span></div>
  <span>に</span>
  <div class="word" tabindex="0"><span class="front">ねがう</span><span class="back">願う</span></div>
  <div class="word" tabindex="0"><span class="front">しだい</span><span class="back">次第</span></div>
  <span>で</span>
  <span>あります。</span>
</div>
