<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">れいぶんとは</span><span class="back">例文とは</span></div>
  <span>、</span>
  <div class="word" tabindex="0"><span class="front">ぶんしょうや</span><span class="back">文章や</span></div>
  <div class="word" tabindex="0"><span class="front">ひょうげんの</span><span class="back">表現の</span></div>
  <div class="word" tabindex="0"><span class="front">みほんと</span><span class="back">見本と</span></div>
  <span>して</span>
  <div class="word" tabindex="0"><span class="front">ていきょうされる</span><span class="back">提示される</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんの</span><span class="back">文の</span></div>
  <span>こと</span>
  <span>です</span>
  <span>。</span>
  <div class="word" tabindex="0"><span class="front">れいと</span><span class="back">例と</span></div>
  <span>して</span>
  <div class="word" tabindex="0"><span class="front">あげられる</span><span class="back">挙げられる</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんしょうや</span><span class="back">文章や</span></div>
  <span>、</span>
  <span>ある</span>
  <div class="word" tabindex="0"><span class="front">ひょうげんの</span><span class="back">表現の</span></div>
  <div class="word" tabindex="0"><span class="front">もはんと</span><span class="back">模範と</span></div>
  <span>なる</span>
  <div class="word" tabindex="0"><span class="front">ぶんしょうを</span><span class="back">文章を</span></div>
  <div class="word" tabindex="0"><span class="front">さ</span><span class="back">指</span></div>
  <span>します</span>
  <span>。</span>
</div>
