<div class="paragraph">
  <div class="word" tabindex="0"><span class="front">れいぶん</span><span class="back">例文</span></div>
  <span>と</span>
  <span>は、</span>
  <div class="word" tabindex="0"><span class="front">ぶんしょう</span><span class="back">文章</span></div>
  <span>や</span>
  <div class="word" tabindex="0"><span class="front">ひょうげん</span><span class="back">表現</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">みほん</span><span class="back">見本</span></div>
  <span>として</span>
  <div class="word" tabindex="0"><span class="front">ていきょう</span><span class="back">提示</span></div>
  <span>される</span>
  <div class="word" tabindex="0"><span class="front">ぶん</span><span class="back">文</span></div>
  <span>の</span>
  <span>こと</span>
  <span>です。</span>
  <div class="word" tabindex="0"><span class="front">れい</span><span class="back">例</span></div>
  <span>として</span>
  <div class="word" tabindex="0"><span class="front">あげられる</span><span class="back">挙げられる</span></div>
  <div class="word" tabindex="0"><span class="front">ぶんしょう</span><span class="back">文章</span></div>
  <span>や、</span>
  <span>ある</span>
  <div class="word" tabindex="0"><span class="front">ひょうげん</span><span class="back">表現</span></div>
  <span>の</span>
  <div class="word" tabindex="0"><span class="front">もはん</span><span class="back">模範</span></div>
  <span>と</span>
  <span>なる</span>
  <div class="word" tabindex="0"><span class="front">ぶんしょう</span><span class="back">文章</span></div>
  <span>を</span>
  <div class="word" tabindex="0"><span class="front">さします。</span><span class="back">指します。</span></div>
</div>
